name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Check if about_me.txt exists
      id: check-if-about_me-txt-exists
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Check if about_me.txt exists
        setup-command: ''
        command: test -f about_me.txt && echo "Pass" || (echo "about_me.txt not found"
          && exit 1)
        timeout: 10
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CHECK-IF-ABOUT_ME-TXT-EXISTS_RESULTS: "${{steps.check-if-about_me-txt-exists.outputs.result}}"
      with:
        runners: check-if-about_me-txt-exists
